


.paginator{

    display: flex;
    align-items: center;
    justify-content: center;
  color: #393939;

}

a{
    margin: 15px;
    font-size:16px;
}

.disabled{
    cursor: default;
}

.link{
    cursor: pointer;

}

.current-page{
    background-color: #497497;
    color: white;
    display: flex;
    border: 1px solid white;
    width: 30px;
    height:30px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}
