@import "../../styles";

.date{
    padding: 8px;
    text-align: center;
}

.city{
    font-size: $font-xl;
    letter-spacing: 2px;
    margin: 0;
}

.time{
    font-size: small;
    letter-spacing: 1px;
    margin: 8px;
    color: rgb(138, 138, 138);
}
