.weather-box{
    border-radius: 3px;
    box-shadow: -3px 9px 16px 3px rgba(0,0,0,0.31);
    min-width: 20em;

}
:host{
    font-size: 12px;
}

.day{
    color: #b49d02;
    background-color: #f3f1c3;
}

.night{
    color: #263d4c;
    background-color: #263d4c;
}

.temps {
    margin-top: 1em;
}

.icon {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 2em 0;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  1em 0;
    background-color: white;
}

