@import "../../styles";
:host{
  font-size: $font-s;
}

.weather-box{
    border-radius: 3px;
    box-shadow: -3px 9px 16px 3px rgba(0,0,0,0.31);
    min-width: 20em;
}

.day{
    color: $gold;
    background-color: #fffad0;
}

.night{
    color: $secondary;
    background-color: $secondary ;
}

.temps {
    margin-top: 1em;
}

.icon {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 2em 0;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  1em 0;
    background-color: white;
}

