@import "../../styles";
$small: 12px;
$medium: 14px;
$large: 16px;
.tag {
  display: flex;
  align-items: center;

  border: 1px solid $complementary;
  width: fit-content;
  border-radius: 3px;
  box-shadow: inset  1px 1px 1px 0px $complementary;
}

@mixin size($size){
  font-size: $size;
  height: $size*1.5;
}
.small{
  @include size($small)

}

.medium{
  @include size($medium)
}

.large{
  @include size($large)
}

p {
  margin: 0;
}

.icon {
  margin: 0 5px;
}


.with-icon {
  padding: 0 8px 0 3px;
}

.without-icon {
  padding: 3px 2px;

}

