:host{
    display: flex;
    justify-content: space-between;
}

.list {
    display: flex;
    flex-direction: row;
}
.without-icon{
    justify-content: start;
}

.with-icon{
    justify-content: end;
}

.margin{
    margin-right: 10px;
}