@import "../../styles";

:host{
    font-size: $font-l;
    display: flex;
    align-items: center;
  color: $primary;
}

.icon{
    margin-bottom: 3px;
    margin-right: 10px;
}

.votes{
    margin-left: 5px;
    color: rgb(100, 100, 100);
}

