
button {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  outline: none;
  padding: 0;
  white-space: nowrap;
  color: #393939;
}

.text-and-icon {
  border: 0;
  padding: 0 10px 0 10px;
  transition: 0.1s;
}

.text-and-icon:hover {
  color: #497497;
}

.text-and-icon .text {
  margin: 10px 0 10px 10px;

}

.text-only {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 3px;
  padding: 0 1em;
  transition: 0.15s;
}

.text-only:hover {
  transition: 0.15s;
  color: #497497;
  border-color: #497497;
}


.text-only .text {
  margin: 0;
  padding: 0.7em 0;
}

.icon-only {
  border-radius: 100%;
  background-color: #497497;
  border: 1px solid white;
  height: 30px;
  width: 30px;
  justify-content: center;
  transition: 0.15s;
}

.icon-only:hover {
  transition: 0.15s;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 12px -3px rgba(0, 0, 0, 0.71);
  box-shadow: 0 2px 12px -3px rgba(0, 0, 0, 0.71);

}

.icon {
  display: flex;
  justify-content: center;
}

.num-only {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.71);
}

.num-only .text {
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}

.num-only:hover {
  box-shadow: 0 2px 12px -3px rgba(0, 0, 0, 0.71);
}

.active{
  color: #497497;
}




