
@import "../../styles";

button{
  display: flex;


  background: none;
  border: 0;
  border-radius: 2px;
  padding: 2px 8px;
  outline: none;

  font-size: inherit;


  align-items: center;
  &:hover{
    background-color: $secondary;
    color: black;
  }

  &:active{
    background-color: transparent;
  }
}
.icon{
  button{
    padding-left: 4px;
  }
}
.primary{
  button{
    background-color: $primary;
    color: white;

    &:hover{
      opacity: 0.8;
    }

    &:active{
      opacity: 1;
    }
  }
}

.accent{
  button{
    background-color: $accent;
    color: white;

    &:hover{
      opacity: 0.8;
    }

    &:active{
      opacity: 1;
    }
  }
}


.small{
  font-size: 16px;
}

.medium{
  font-size: 20px;
}
.large{
    font-size: 24px;
}
