/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import "themes";
$primary: #2d2d2d;
$secondary: #e7e7e7;
$accent: #0089ce;

*{
  font-family: 'Roboto', sans-serif;
}
